# Auto normalize text files
* text=auto eol=lf

# Ensure Windows scripts retain CRLF
*.bat text eol=crlf
*.ps1 text eol=crlf

# Prevent binary files from being modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.mp4 binary
*.webp binary
*.woff binary
*.woff2 binary
